.EmotionItem {
  background-color: #ececec;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.EmotionItem .emotion_img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem_on_1 {
  color: #fff;
  background-color: #64c964;
}
.EmotionItem_on_2 {
  color: #fff;
  background-color: #9dd772;
}
.EmotionItem_on_3 {
  color: #fff;
  background-color: #fdce17;
}
.EmotionItem_on_4 {
  color: #fff;
  background-color: #fd8446;
}
.EmotionItem_on_5 {
  color: #fff;
  background-color: #fd565f;
}
